/*
Colours:
Primary color:#eddbdd (pink)
Secondary colors:
  #b05827 (antique orange)
  #9bbeb9 (turquise)
  #61819c (blue)
  #ebbe3e (yellow)
  #674022 (dark brown)
Decorative colors:
  #c4845d (orange)
  #8ca4b4 (blue)
*/

@keyframes color-change {
  from {fill: #b05827;}
  to {fill: #ebbe3e;}
}

.lightbulb {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.plant {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


* {
  box-sizing: border-box;
}

.container {
  padding: 10px 15px;
}

.navigation_bar {
  text-align: center;
}

 body {
   background-color: #eddbdd;
   font-family: "PT Serif", Nunito;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
   color: #674022;
   margin: 30px 60px;
 }

 header {
   background-color: #eddbdd;
   font-family: "Playfair Display", Georgia;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   color: #b05826;
   text-decoration: none;
   text-transform: uppercase;
 }

 nav > ul {
   list-style-type: none;
   padding: 10;
   display: inline-block;
   width: auto;
 }

 nav > ul > li {
   display: inline-block;
   text-decoration: none;
 }

 nav > ul > li > a {
   padding: 0 15px;
   text-decoration: none;
 }

 nav > ul > li > a:hover {
   color: #64849c;
 }

 nav > ul > li > a:active {
   color: #64849c;
 }

 #hero {
   display: inline-block;
   padding: 20px 0;
   width: 100%;
   text-align: center;
 }

 #hero span {
   display: block;
 }

 .logo {
   float: left;
   max-width: 100px;
 }

 .row {
   display: grid;
   padding: 30px 65px;
   grid-template-columns: 65% 60%;
 }

 .row::after {
  content: "";
  clear: both;
  display: table;
}

 .column {
 }


h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: "Didot", Georgia;
  font-size: 2.441em;
  font-weight: 600;
  color: #61819b;
  text-align: center;
}

h2 {
  font-family: "Didot", Georgia;
  font-size: 2.441em;
  font-weight: 600;
  color: #61819b;
  text-align: center;
}

h3 {
  font-family: "Didot", Georgia;
  font-size: 1.953em;
  font-weight: 500;
  color: #61819c;
}

h4 {
  font-size: 1.563em;
  font-weight: 400;
}

.contact.content {
  padding-top: 40px;
  text-align: center;
}

#Emma {
  text-align: center;
}

.about.page h3{
  margin-top: 0;
}

.about.row {
  display: grid;
  grid-template-columns: 75% 60%;
}

.introduction {
display:grid;
}

.skills {
  display:grid;
}

img {
  width: 100%;
}

a {
  color: #b05827;
}
a:hover {
  color: #61819c;
}
a:focus {
  color: #b05826;
}
a:active {
  color: #eddbdd;
}

.button {
  display: inline-block;
  background-color: #61819c;
  color: #eddbdd;
  font-weight: 400;
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px;
  text-decoration: none;
  margin: 30px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  background-color: #61819c;
  color: #eddbdd;
  opacity: 0.8;
}

.button:active {
  background-color: #eddbdd;
}

.buttoncontact {
  display: inline-block;
  background-color: #61819c;
  color: #eddbdd;
  font-weight: 400;
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px;
  text-decoration: none;
  margin: 30px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.buttoncontact:hover {
  background-color: #9bbeb9;
}

#social_icons svg{
  max-width: 50px;
}

.center {
  text-align: center;
}

img.mypic {
  max-width: 200px;
  float: center;
  margin-bottom: 15px;
}

.stay.connected {
  text-align: center;
}

@media only screen and (min-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    margin-top: 99px;
  }

  body {
    font-size: 18px;
  }
}


@media only screen and (min-width:1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

@media only screen and (min-width:1440px) {
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
