/*
Colours:
Primary color:#eddbdd (pink)
Secondary colors:
  #b05827 (antique orange)
  #9bbeb9 (turquise)
  #61819c (blue)
  #ebbe3e (yellow)
  #674022 (dark brown)
Decorative colors:
  #c4845d (orange)
  #8ca4b4 (blue)
*/

.container {
  padding: 10px 15px;
}

.navigation_bar {
  text-align: center;
}

 body {
   background-color: #eddbdd;
   font-family: "PT Serif", Nunito;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
   color: #674022;
   margin: 30px 60px;
 }

 header {
   background-color: #eddbdd;
   font-family: "Playfair Display", Georgia;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   color: #b05826;
   text-decoration: none;
   text-transform: uppercase;
 }

 nav > ul {
   list-style-type: none;
   padding: 10;
   display: inline-block;
   width: auto;
 }

 nav > ul > li {
   display: inline-block;
   text-decoration: none;
 }

 nav > ul > li > a {
   padding: 0 15px;
   text-decoration: none;
 }

 nav > ul > li > a:hover {
   color: #64849c;
 }

 nav > ul > li > a:active {
   color: #64849c;
 }

 #hero {
   display: inline-block;
   padding: 20px 0;
   width: 100%;
 }

 .logo {
   float: left;
   max-width: 100px;
 }

 .row {
   column-count: 2;
   column-gap: 40px;
   margin-top: 30px;
   margin-bottom:30px;
   column-span: all;
 }

 .column {
   padding-left: 20px;
 }

 .aboutrow {
   column-count: 2;
   column-gap: 20px;
   margin-top: 30px;
   margin-bottom:30px;
 }

.columnmain {
  width: 60%;
}

.columnside {
  width: 40%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: "Didot", Georgia;
  font-size: 2.441em;
  font-weight: 600;
  color: #61819b;
  text-align: center;
}

h2 {
  font-family: "Didot", Georgia;
  font-size: 2.441em;
  font-weight: 600;
  color: #61819b;
}

h3 {
  font-family: "Didot", Georgia;
  font-size: 1.953em;
  font-weight: 500;
  color: #61819c;
}

h4 {
  font-size: 1.563em;
  font-weight: 400;
}

.contact.content {
  padding-top: 40px;
  text-align: center;
}

#Emma {
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #b05827;
}
a:hover {
  color: #61819c;
}
a:focus {
  color: #b05826;
}
a:active {
  color: #eddbdd;
}

.button {
  display: inline-block;
  background-color: #b05827;
  color: #eddbdd;
  font-weight: 400;
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px solid
  transition: 0.3s opacity;
  text-decoration: none;
}

.button:hover {
  background-color: #61819c;
  color: #eddbdd;
}

.button:active {
  background-color: #eddbdd;
}

.buttoncontact {
  display: inline-block;
  background-color: #61819c;
  color: #eddbdd;
  font-weight: 400;
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px;
  text-decoration: none;
  margin: 30px;
}

.buttoncontact:hover {
  background-color: #9bbeb9;
}

#social_icons {
  max-width: 50px;
}

img.mypic {
  max-width: 200px;
  float: center;
}

.stay.connected {
  text-align: center;
}

@media only screen and (min-width:640px) {
}

@media only screen and (min-width:1024px) {
}

@media only screen and (min-width:1440px) {
}
